{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Login" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<form action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}"
      method="post"
      class="form-horizontal">
    {% trans 'Login' as submit_text %}
    {% render_form_fields form submit_text %}
</form>
<p style="margin-left: 420px;">or log in with</p>
<div style="margin-left: 200px" class="social">
<a href="{% url 'core:social:begin' 'twitter' %}" class="btn btn-default" style="background-color: #1DA1F2; display: inline-block; width: 162px"><i class="fa fa-twitter"></i>Twitter</a>
<a href="{% url 'core:social:begin' 'google-oauth2' %}" class="btn btn-default" style="background-color: #DB4437; display: inline-block;width: 162px; margin-left: 20px;"><i class="fa fa-google"></i> Google+</a>
<a href="{% url 'core:social:begin' 'facebook' %}" class="btn btn-default" style="background-color: #3B5998; display: inline-block; width: 162px; margin-left: 20px;"><i class="fa fa-facebook"></i> Facebook</a>
</div>
{% endblock %}


{% block sidebar %}
<h4>{% trans "No account?" %}</h4>
<p>
    <a href="{% url 'core:user:registration' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'sign-in' %}"></span>
        {% trans "Register" %}
    </a>
</p>

<h4>{% trans "Forgot password?" %}</h4>
<p>
    <a href="{% url 'core:user:password_reset' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'key' %}"></span>
        {% trans "Reset password" %}
    </a>
</p>
{% endblock %}
