language: python
# Cache the pip files
cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.nvm
    - node_modules
    - wger/node_modules
# Use container infrastructure
# http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/
sudo: false
# Python versions to test
python:
  - "2.7"
  - "3.4"
  - "3.5"
# Manually define here the combinations environment variables to test
# https://github.com/travis-ci/travis-ci/issues/1519
env:
  - TEST_MOBILE=True  DB_TYPE=postgresql TRAVIS_NODE_VERSION="4" DB='wger' USER='postgres' PASSWORD='' HOST='localhost' PORT=5432
  - TEST_MOBILE=True  DB_TYPE=sqlite     TRAVIS_NODE_VERSION="4" DB='wger' USER='postgres' PASSWORD='' HOST='localhost' PORT=5432
  - TEST_MOBILE=False DB_TYPE=postgresql TRAVIS_NODE_VERSION="4" DB='wger' USER='postgres' PASSWORD='' HOST='localhost' PORT=5432
  - TEST_MOBILE=False DB_TYPE=sqlite     TRAVIS_NODE_VERSION="4" DB='wger' USER='postgres' PASSWORD='' HOST='localhost' PORT=5432
# Install the application
install:
  # Update nvm and set wanted Node version.
  # We update nvm using the script method instead of git, which is selected
  # automatically, as git won't work because the $HOME/.nvm is not a git
  # repository and the directory is not empty.
  - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.31.4/install.sh | METHOD=script bash
  - . $HOME/.nvm/nvm.sh
  - nvm install $TRAVIS_NODE_VERSION
  - nvm use $TRAVIS_NODE_VERSION
  # Install requirements
  - pip install -r requirements_devel.txt
  - pip install wger
  - npm install
  - if [[ "$DB_TYPE" = "postgresql" ]]; then pip install psycopg2; fi
  # Setup application
  - if [[ "$DB_TYPE" = "sqlite" ]]; then wger create_settings; fi
  - if [[ "$DB_TYPE" = "postgresql" ]]; then wger create_settings --database-type postgresql; fi
# Create test databases
before_script:
  - npm install gulp
  - if [[ "$DB_TYPE" = "postgresql" ]]; then psql -c 'DROP DATABASE IF EXISTS wger;' -U postgres; fi
  - if [[ "$DB_TYPE" = "postgresql" ]]; then psql -c 'CREATE DATABASE wger;' -U postgres; fi
  - wger migrate_db
  - python manage.py makemigrations
  - python manage.py migrate
# Do the tests
script:
  # Formatting
  - pep8 wger
  # Javascript linting
  - ./node_modules/.bin/gulp lint
  # Regular application
  - coverage run --source='.' ./manage.py test
  # Code coverage
  - coverage report
notifications:
  slack: andela:OZefQdjnsTAbpFnQwexjb41q

deploy:
  provider: heroku
  api_key:
    secure: gG+IhVo2HtF2UgrEbUA+UcP1X9zr9XnCZeteYlAuSuGJ2zHkMU0qePeaCg6pMyk0QmrziV7JOGTX6eWIIWUEvykR98cCi3n7FCmb5fZSWS6hp7ak2VkabQ0g+XnWQsC9FeRk5NFcqrio+CGCcrCvf3soobZ6X1C8Pj0MCOlRVogTbYzMZ1krThZ3UPqbC4YlucbKdmRo7fi9X3lYrifuEvmT59xSNYW09Bg61b/sRm1q+OaBUMnGjQc8VixjHLElFJykHQ+pM/KZ11zdlm/59iAhrI3wRls7D7uNBQJwS9G43IEE9vLq0CT/n6cyxjcQzIM9J2JfizSmLsGutwy7FFjBRuTdSBali1ys0oNV/enQ0YuGW93N/h37GFHbXGkuU101IQ8JgubcMpd/xZ8QJOpt/rBJri0NF8dccY646H8HG7C8ZSSPKoimI3BuoNEw9N3EO9ElqMia2kneecCNARnLUnxZEABInzGt/C2o7ovkInnGHuoevYBCQcFkqrEV6M3nlXgiPIZEkAxtZaql5abiA0Di1+yQrAO6wniSQ/FuAfQxZ5r+CVymIpSqPe+aZ+VM4GYWyZrIWBr+duCEqaLMZsfB8SnHFAHtRZTDH72FtHK5NCJEzAjXmDSuip9DW/PB7cAd6W13fHcPy6XxUt2Ae3lwZLSUqVXpOQn21q4=
  app: wger-a-team
  run: "python manage.py makemigrations && python manage.py migrate"
  on:
    repo: andela/wg-a-team
    branch: develop