
#
# Requirements for wger for production
#

Django>=1.9,<1.10
django-recaptcha
reportlab
django_mobile
django-formtools>=1.0,<1.1
bleach
python-mimeparse
pillow
easy-thumbnails
django_compressor
icalendar
django-bootstrap-breadcrumbs
sphinx
django-sortedm2m
django-bower
invoke
requests
whitenoise
gunicorn
psycopg2
wger
npm

# REST API
djangorestframework>=3.2,<3.3
django-filter
django-tastypie
django-cors-headers
social-auth-app-django==2.0.0
# Python3 compatibility
six
alabaster==0.7.10
Babel==2.9.1
certifi==2017.11.5
chardet==3.0.4
django-appconf==1.0.2
docutils==0.14
fitbit==0.3.0
html5lib==1.0b10
idna==2.6
imagesize==0.7.1
Jinja2==2.10
MarkupSafe==1.0
oauthlib==2.0.6
olefile==0.44
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
rcssmin==1.0.6
requests-oauthlib==0.8.0
rjsmin==1.0.12
snowballstemmer==1.2.1
sphinxcontrib-websupport==1.0.1
sqlparse==0.2.4
typing==3.6.2
urllib3==1.22
webencodings==0.5.1

