{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}
{% load cache %}

{% block header %}
    <script>
        $(document).ready(function () {
            // Prevent the form from being submited if JavaScript is enabled
            $("#search_form").submit(function () {
                return false;
            });

            // Init the autocompleter
            $("#ingredient-search").autocomplete({
                serviceUrl: '/api/v2/ingredient/search/',
                dataType: 'json',
                paramName: 'term',
                minChars: 3,
                onSelect: function (suggestion) {
                     window.location.href = '/nutrition/ingredient/' + suggestion.data.id + '/view/'
                }
            });
        });
    </script>
{% endblock %}

{% block title %}{% trans "Ingredient overview" %}{% endblock %}


{% block content %}
    {% if ingredients_list %}
        <div class="list-group">
            {% for ingredient in ingredients_list %}
                <a class="list-group-item"
                   href="{{ ingredient.get_absolute_url }}">
                    {% if flavour == 'mobile' %}
                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    {% endif %}
                    {{ ingredient.name }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>
            <a href="{% url 'nutrition:ingredient:add' %}"
               class="btn btn-default btn-block">
                {% trans "No ingredients." %} {% trans "Add one now." %}
            </a>
        </p>
    {% endif %}


    <div style="padding-top:3em;"></div>
    {% pagination paginator page_obj %}
{% endblock %}

{% block sidebar %}

    <h4>{% trans "Search" %}</h4>
    <form action="{% url 'ingredient-search' %}"
          method="get"
          id="search_form">
        {% csrf_token %}
        <input name="term"
               type="search"
               id="ingredient-search"
               class="ajax-form-element form-control"
               placeholder="{% trans 'ingredient name' %}"
               style="width:100%;">
    </form>
{% endblock %}


{#         #}
{# Options #}
{#         #}
{% block options %}
    {% if user.is_authenticated and not user.userprofile.is_temporary %}
        <a href="{% url 'nutrition:ingredient:add' %}"
           class="btn btn-success btn-sm">
            {% trans "Add ingredient" %}
        </a>
    {% else %}
        <a href="#" class="btn btn-success btn-sm disabled">
            {% trans "Add ingredient" %}<br>
            <small>
                {% trans "Only registered users can do this" %}
            </small>
        </a>
    {% endif %}

    <div class="btn-group">
            <button style="padding: 5px 20px;" class="btn btn-primary dropdown-toggle btn-xs" type="button" data-toggle="dropdown"> English </button>
            <ul class="dropdown-menu">
                <li> <a href="{{request.path}}?lan=en"</a> <img src="/static/images/icons/flag-en.svg" alt="English" title="English" style="border: 1px solid #151515;" width="18" height="11"> English </li>
                <li> <a href="{{request.path}}?lan=de" </a> <img src="/static/images/icons/flag-de.svg" alt="German" title="German" style="border: 1px solid #151515;" width="18" height="11"> German </li>
                <li> <a href="/bg/exercise/overview/?lan=bg" </a> <img src="/static/images/icons/flag-bg.svg" alt="Bulgarian" title="Bulgarian" style="border: 1px solid #151515;" width="18" height="11"> Bulgarian </li>
                <li> <a href="/es/exercise/overview/?lan=es" </a> <img src="/static/images/icons/flag-es.svg" alt="Spanish" title="Spanish" style="border: 1px solid #151515;" width="18" height="11"> Spanish </li>
                <li> <a href="/ru/exercise/overview/?lan=ru" </a> <img src="/static/images/icons/flag-ru.svg" alt="Russian" title="Russian" style="border: 1px solid #151515;" width="18" height="11"> Russian </li>
                <li> <a href="/nl/exercise/overview/?lan=nl" </a> <img src="/static/images/icons/flag-nl.svg" alt="Dutch" title="Dutch" style="border: 1px solid #151515;" width="18" height="11"> Dutch </li>
                <li> <a href="/pt/exercise/overview/?lan=pt" </a> <img src="/static/images/icons/flag-pt.svg" alt="Portuguese" title="Portuguese" style="border: 1px solid #151515;" width="18" height="11"> Portuguese </li>
                
            </ul>
            </div>
{% endblock %}
